@using CarSellApp.Models
@model ManufacturerViewModel
@{
    Layout = null;
}

<h1>Edit @Model.Name</h1>

@using (Html.BeginForm("Submit", "Manufacturer",
				FormMethod.Post, new { enctype = "multipart/form-data" }))
{
	@Html.EditorForModel()

	<input type="submit" value="Save" />
	@Html.ActionLink("Cancel", "Index")
}
