
@using CarSellApp.Models
@model IEnumerable<ManufacturerViewModel>

@{
	ViewBag.Title = "Manufacturers";
}

<table>
	<caption>Manufacturers</caption>
	<tr>
		<th>Code</th>
		<th>Name</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Code</td>
			<td>@item.Name</td>
			<td>@Html.ActionLink("Edit", "Edit", new { item.Id })</td>
		</tr>
	}
</table>

@Html.ActionLink("Add new", "Edit")
