
@using CarSellApp.Models
@model IEnumerable<CarViewModel>

@{
	ViewBag.Title = "Car models";
}

<table>
	<caption>Car models</caption>
	<tr>
		<th>Manufacturer Name</th>
		<th>Name</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.Manufacturer.Name</td>
			<td>@item.Name</td>
			<td><input type="button" title="Delete" value="Delete" onclick="location.href = '@Url.Action("Delete", "Home", item.DomainCar)'"/></td>
		</tr>
	}
</table>